body {  
    color:black;
    background-color:rgb(11, 7, 30);
    font-family:sans-serif;
    font-size:1.25em;
}

div.mainArea {
    background-color:white;
    padding:25px;
    margin-left:7%;
    margin-right:7%;
    margin-top:100px;
    margin-bottom:50px;
    overflow:hidden
}

div.headNavBar {
    color:white;
    position:fixed;
    font-family:'Trebuchet MS', Tahoma, sans-serif;
    width:100%;
    top: 0;
    left: 0;
    background-color:darkslateblue;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:left;
}

div.navBarContent {
    margin-right:5%;
}

div.dropDownMenu {
    display:none;
    position:absolute;
    background-color:darkslateblue;
    min-width:230px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    border:1px solid rgb(11, 7, 30);;
}

figure.imageBox {
    float:right;
    margin:25px;
    margin-bottom:15px;
    margin-top:15px;
}

figure.tableFigure {
    width:95%; 
    margin:2.5%;
}

figure.centerGif {
    width:100%; 
    text-align:center; 
    margin-bottom:15px; 
    margin-left:0;
}

img.headerGif {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

p {
    line-height:1.25em;
}

p.caption {
    margin-top:10px;
    margin-bottom:0;
    font-size:.75em;
}

h1, h2 {
    color:rgb(232, 135, 176);
    background-color:rgb(143, 0, 16);
    width:-moz-fit-content;
    width:fit-content;
    font-family:'Trebuchet MS', Tahoma, sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

h1 {
    margin-left:auto;
    margin-right:auto;
}

h2 {
    clear:left;
    font-weight:700;
}

h3 {
    color:darkslategray;
}

hr.subHeaderLines {
    color:darkslateblue;
    clear:both;
}

table.imageTable {
    border: 1px solid rgb(11, 7, 30);
    background-color:inherit;
    width:100%; 
    text-align:center;
    margin-bottom:5px;
}

table#rightFloatTable {
    float:right;
    width:40%;
    margin-left:25px;
}

iframe {
    display: block;
    margin: 0 auto;
 }

a {
    color:inherit;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
}

a:hover {
    text-decoration:none;
}

a.pageLink {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:5%;
    padding-right:5%;
}

a.dropLink {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    width:220px;
}

a.pageLink:hover {
    color:inherit;
    background-color:rgb(38, 33, 75);
}

a.dropLink:hover {
    color:inherit;
    background-color:rgb(38, 33, 75);
}

a.inTextLink {
    display:inline;
    text-decoration:underline;
}

a.inTextLink:hover {
    text-decoration:underline;
    color:darkslategray;
}

@media screen and (orientation: landscape) {
    @media (min-width:1370px) {
        div.mainArea {
            margin-left:17%;
            margin-right:17%;
        }
    }
}